    {{!-- MENÚ --}}
    <div class="menu">
        <div class="active" onclick="location.href ='/dashboard'">
            <h1>Productos</h1>
            <img src="/assets/img/product.png" alt="">
        </div>
        <div onclick="location.href ='/dashboard/users'">
            <h1>Usuarios</h1>
            <img src="/assets/img/user.png" alt="">
        </div>
    </div>
    {{!-- MAIN --}}
    <main>
        <section class="psection">
            <div class="sstart">
                <h1>Nuevo álbum</h1>
            </div>
        <hr>
        <div class="addAlbumm">
            <form id="form">
                <span>
                    <p>Nombre del Álbum:</p>
                        <input type="text" id="album" name="album">
                </span>
                <span>
                    <p>Autor:</p>
                        <input type="text" id="autor" name="autor">
                </span>
                <span>
                    <p>Precio:</p>
                        <input type="number" min="0" id="precio" name="precio"><a style="font-size: 25px; margin-left: 5px;">€</a>
                </span>
                <span>
                    <p>Imagen:</p>
                        <input type="file" name="foto" accept="image/png, image/jpg, image/jfif, image/jpeg"  id="foto">
                </span><br>
                <input type="submit" class="t" value="Añadir album">
            </form>
        </div>
        </section>
    </main>
</div>