<main>
    <section class="slider">
    <div class="textBox an1">
      <h2>JOSE</h2>
      <h3>J Balvin</h3>
      <a href="/product/-Mmt8DsEi-excRxJQqRA" class="hbtn" style="margin-top: 15px;">comprar</a>
    </div>
    <img src="/assets/img/banners/jose.jpg" alt="">
  </section>
  <section class="mainCatalog">
    <div class="menu">
      <h1>Menú</h1>
    </div>
    <div class="albumSection">
      <div class="albumVentas">
        <h2>Últimas ventas</h2>
        <div class="grid">
          {{#each products}}
            <div class="container ">
              <div class="albumImgBox">
                <img src="assets/img/albums/{{this.foto}}" alt="">
              </div>
              <div class="albumInfo ">
                <p>{{this.album}}</p>
                <p>{{this.artista}}</p>
                <a class="hbtn" href="/product/{{this.id}}">Comprar</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>    
    </div>
  </section>
</main>