<head>
    <link rel="stylesheet" href="assets/css/home.css">
</head>
  <style>
    .an1{
      animation: fadeInUp;
      animation-duration: 0.8s; 
    }
    .an2 {
      animation: zoomIn;
      animation-duration: 0.8s; 
    }
  </style>
<main>
    <section class="slider">
    <div class="textBox an1">
      <h2>JOSE</h2>
      <h3>J Balvin</h3>
      <a href="" class="hbtn" style="margin-top: 15px;">comprar</a>
    </div>
    <img src="assets/img/banners/jose.jpg" alt="">
  </section>
</main>