<head>
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/catalogo.css">

</head>
<main>
   
    <section class="slider">
    <div class="textBox an1">
      <h2>JOSE</h2>
      <h3>J Balvin</h3>
      <a href="" class="hbtn" style="margin-top: 15px;">comprar</a>
    </div>
    <img src="assets/img/banners/jose.jpg" alt="">
  </section>
 
</main>