<main>
    <section class="slider">
    <div class="textBox an1">
      <h2 class="an1" style="color: white;">Contacto</h2>
    </div>
    <img style="" src="assets/img/banners/contacto.jpg" alt="">
  </section>
  <section class="contacto">
      <h2>Dejanos un mensaje</h2>
       <div class="text-field" id="text">
            <input id="passwd1" type="text" required autocomplete="off" name="password">
            <label class="label">Asunto</label>
        </div>
         <div class="text-field" id="text">
            <textarea ></textarea>
            <label class="label">Mensaje</label>
        </div>
        <button>Enviar</button>
  </section>
</main>