    {{!-- MENÚ --}}
    <div class="menu">
        <div onclick="location.href ='/dashboard'">
            <h1>Productos</h1>
            <img src="/assets/img/product.png" alt="">
        </div>
        <div class="active" onclick="location.href ='/dashboard/users'">
            <h1>Usuarios</h1>
            <img src="/assets/img/user.png" alt="">
        </div>
    </div>
    {{!-- MAIN --}}
    <main>
        <section class="usection">
        <h1>Usuarios</h1>
        <hr>
        <table>
            <tr>
                <th>Usuario</th><th>id</th><th>admin</th>
            </tr>    
            {{#each rec}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.id}}</td>
                <td>
                    <input type="checkbox" 
                        {{#if this.admin}}
                            checked
                        {{/if}}
                    onclick="admin('{{this.id}}')"
                    name="id">
                </td>
            </tr>
            {{/each}}
        </table>
        </section>
    </main>
</div>