<main>
  <section class="slider">
    <div class="textBox an1">
      <h2>SIENTE LA MÚSICA</h2>
      <h2>CON NOSOTROS</h2>
    </div>
    <img src="assets/img/banners/wallpaper1.jpg" alt="">
  </section>
  <section class="newAlbums">
    <h1>NOVEDADES</h1>
    <p>Los últimos álbumes más escuchados</p>
    <div class="grid ">


      <div class="container ">
        <div class="albumImgBox">
          <img src="assets/img/albums/elultimotourdelmundo.jpeg" alt="">
        </div>
        <div class="albumInfo ">
          <p>El Último Tour del Mundo</p>
          <p>Bad Buny</p>
          <a class="hbtn" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/timelezz.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Timelezz</p>
          <p>Jhay Cortez</p>
          <a class="hbtn t" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/sen2kbrnvol1.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>SEN2 KBRN VOL. 1</p>
          <p>Eladio Carrion</p>
          <a class="hbtn t" href="">Comprar</a>
        </div>
      </div>
      
      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/easymoneybaby.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Easy Money Baby</p>
          <p>Myke Towers</p>
          <a class="t hbtn" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/blameitonblade.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>BLAME IT ON BABY</p>
          <p>DaBaby</p>
          <a class="t hbtn" href="">Comprar</a>
        </div>
      </div>
      
      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/primerdiadeclases.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Primer Día de Clases</p>
          <p>Mora</p>
          <a class="t hbtn" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/homerun.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Homerun</p>
          <p>Paulo Londra</p>
          <a class="t hbtn" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/intershibuya.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>INTER SHIBUYA - LA MAFIA</p>
          <p>Feid</p>
          <a class="t hbtn" href="">Comprar</a>
        </div>
      </div>
  </section>
</main>
