<head>
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<main>
  <style>
    .an1{
      animation: fadeInUp;
      animation-duration: 0.8s; 
    }
    .an2 {
      animation: zoomIn;
      animation-duration: 0.8s; 
    }
  </style>
  <section class="slider">
    <div class="textBox an1">
      <h2>SIENTE LA MÚSICA</h2>
      <h2>CON NOSOTROS</h2>
    </div>
    <img src="assets/img/wallpaper1.jpg" alt="">
  </section>
  <section class="newAlbums">
    <h1>NOVEDADES</h1>
    <p>Los últimos álbumes más escuchados</p>
    <div class="grid">


      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/elultimotourdelmundo.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>El Último Tour del Mundo</p>
          <p>Bad Buny</p>
          <a class="hbtn t" style="margin-top: 15px;" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/timelezz.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Timelezz</p>
          <p>Jhay Cortez</p>
          <a class="hbtn t" style="margin-top: 15px;" href="">Comprar</a>
        </div>
      </div>

      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/sen2kbrnvol1.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>SEN2 KBRN VOL. 1</p>
          <p>Eladio Carrion</p>
          <a class="hbtn t" style="margin-top: 15px;" href="">Comprar</a>
        </div>
      </div>
      
      <div class="container">
        <div class="albumImgBox">
          <img src="assets/img/albums/easymoneybaby.jpeg" alt="">
        </div>
        <div class="albumInfo">
          <p>Easy Money Baby</p>
          <p>Myke Towers</p>
          <a class="t hbtn" style="margin-top: 15px;" href="">Comprar</a>
        </div>
      </div>
      
  </section>
</main>
