<section>
     <div class="box">
          <div class="picture">
               <img src="/assets/img/albums/{{products.foto}}" alt="">
          </div>
          <div class="info">
               <div class="text">
                    <h1>{{products.album}}.</h1>
                    <h2>{{products.artista}}.</h2>
               </div>
               <h1 class="xdlolMinecradt33">Preu: {{products.precio}}€</h1>
               <button clsas="hbtn">Añadir a la cesta</button>
          </div>
     </div>
     <div class="recomendaciones">
          <h1>También te podría gustar: NADA</h1>
          <div class="box2">

          </div>
     </div>
</section>
