<head>
    <link rel="stylesheet" href="assets/css/servicios.css">
</head>
  <style>
    .an1{
      animation: fadeInUp;
      animation-duration: 0.8s; 
    }
    .an2 {
      animation: backInLeft;
      animation-duration: 0.8s; 
    }
  </style>
<main>
    <section class="slider">
    <div class="textBox an1">
      <h2 class="an1" style="color: white;">Nuestros servicios</h2>
    </div>
    <img style="" src="assets/img/banners/servicios.jpg" alt="">
  </section>
  <section class="servicios an2">
      <div class="grid">
            <div class="service">
                <img src="assets/img/services/album.png"/>
                <h2>Novedades</h2>
                <p>Los últimos albumes disponibles al instante.</p>
            </div>
            <div class="service">
                <img src="assets/img/services/fast.png"/>
                <h2>Rápidez</h2>
                <p>Envios a la velocidad de la luz.</p>
            </div>
            <div class="service">
                <img src="assets/img/services/wallet.png"/>
                <h2>Pago seguro</h2>
                <p>Pago seguro 100% grantizado.</p>
            </div>
            <div class="service">
                <img src="assets/img/services/call-center.png"/>
                <h2>Asistencia</h2>
                <p>Asistencia personalizada 24h.</p>
            </div>
        </div>
  </section>
</main>