<div class="header">
    <div class="brand" onclick="location.href ='/'">
        <img src="/assets/img/logo.png" alt="">
        <h1>SOUNDCOTS</h1>
    </div>
    <div class="hmenu">
        {{!-- <img class="t" src="/assets/img/basket.png" onclick="cesta()" alt=""> --}}
        <img class="t" src="/assets/img/signout.png" onclick="signout()" alt="">
    </div>
</div>
