<header>
  <div class="top">
    <div class="brand" onclick="window.location.href = '/'">
      <img src="assets/img/logo.png" alt="">
      <h1>SOUNDCOTS</h1>
    </div>
    <div class="session">
      {{!-- Si el usuario no está logeado --}}
      <a class="t hbtn" >Sign in</a>
      {{!-- Si el usuario está logeado --}}
      <img class="t dpn" src="assets/img/user.png" alt="">
      {{!-- Si el usuario está logeado y es administrador--}}
      <img class="t dpn" src="assets/img/configurations.png" alt="">
    </div>
  </div>
  <div class="down">
      <nav>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/servicios">Servicios</a>
          </li>
          <li>
            <a href="/catalogo">Catalogo</a>
          </li>
          <li>
            <a href="/contacto">Contacto</a>
          </li>
      </nav>
  </div>
</header>